/*input[type=text], select {*/
    /*width: 100%;*/
    /*padding: 12px 20px;*/
    /*margin: 8px 0;*/
    /*display: inline-block;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*box-sizing: border-box;*/
    /*margin-bottom: 30px;*/

/*}*/
.loginInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 30px 0 0px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=butoon]:hover {
    background-color: #45a049;
}
body{
    /*background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");*/
/**/
}
#loginForm {
    width: 30% !important;
    height: 500px !important;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    opacity: 0.8;
    border-radius: 10px;
    background-color: #f1f3f5;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.05);
}
.formDiv{
    margin-top: 10%;
}
.title{

}
h3 {
    text-shadow: 2px 2px 5px #ff6f87;
    text-align: center;
    font-size: 50px;

    /*font-family: "Brush Script MT", cursive;*/
    /*!*font-size: 14px;*!*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: 500;*/
    /*line-height: 15.4px;*/
}